* {
  box-sizing: border-box !important;
}

.new-account {
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  background: #1f1f22;
}

.forms {
  width: 45%;
  padding: 2rem;
}

.form-down {
  width: 100%;
  padding-left: 0.5rem;
}

.back-login {
  font-size: 2rem;
}

.meta-logo {
  text-align: start;
  font-size: 1.2rem;
}

footer {
  background: #1f1f22;
}
